<section class="sessionForm">
<div class="regia"></div>  
<div class="theForm signUp d-flex flex-column justify-content-center align-items-center">
  <h2 class="mb-4">Sign-Up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    
    <div class="field form-group">
      <%= f.label :username %><br />
      <%= f.text_field :username, autocomplete: "username" %>
    </div>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up", class: 'btn session_button' %>
    </div>
  <% end %>
  </div>

</section>