<div class="article_form">
  <%= form_with(model: article, local: true) do |form| %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h4 class="mr-2"><%= pluralize(article.errors.count, "error") %>:</h4>

        <ul class="d-flex">
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %>, </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field img_field mt-2">
      <div class="article_img">
        <%= image_tag url_for(@article.image) if @article.image.attached? %>
      </div>
      <div class="img_label d-flex flex-column">
      <%= form.label :image, 'Attach A New Image', class: 'mt-4' %>
      <%= form.file_field :image %>
      </div>
    </div>

    <div class="field category_field mt-2 d-flex flex-column">
      <p class="mt-4">Select Category</p>
      <%= form.label :category %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, {prompt: 'Categories'}) %>
    </div>

    <div class="field mt-4">
      <%= form.text_field :title, placeholder: 'Title Here', class: 'article_form_style article_title' %>
    </div>

    <div class="field mt-4">
      <%= form.text_area :text, placeholder: 'Start Writing Your Amazing Tale...', class: 'article_form_style article_text mt-4' %>
    </div>


    <div class="actions mt-4 mb-4 d-flex">
      <%= form.submit class: 'input_and_a input_style'  %>
      <%= link_to 'Cancel', articles_path, class: 'input_and_a a_style ml-3' %> 
    </div>
  <% end %>
</div>