<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<div id="votes">
  <%= render partial: 'votes' %>
</div>

<!-- Remove after nav bar creation-->
<%= link_to 'Edit', edit_article_path(@article) %> <br>
<%= link_to 'Back', articles_path %> <br>
<%= link_to 'Back to Categories', categories_path %> <br>
