<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @category.priority %>
</p>

<p>
  <strong>Articles:</strong>
  <% @category.articles.each do |article| %>
    <li><%= article.title %></li>
  <% end %>
</p>

<!-- Remove after nav bar creation-->
<%= link_to 'Back to Categories', categories_path %>
<br>
<%= link_to 'Back to Articles', articles_path %>
