<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navigation" class="navbar navbar-expand-lg navbar-light row">      
      <div class="logo_div col-3 mt-2">
        <%= link_to 'EllaMexicana', root_path, class: "logo" %>
      </div>
      
      <div class="collapse navbar-collapse d-flex justify-content-center col-6 mt-2" >
        <div class="navbar-nav">
          <%= link_to 'HOME', root_path, class: 'mr-3'%>
          <%= categories_nav_links %>
          <%= link_to 'MORE...', categories_path %>
        </div>
      </div>

      <div class="col-3 mt-2 d-flex justify-content-end session_links">
       <%= session_links %>
      </div>
    </nav>
    
    <% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>
    
    <%= yield %>

    <%= render "layouts/footer" %>
    
    <section class="session">
      <%= yield :session %>
    </section>
  
  </body>
</html>
