<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navigation" class="navbar navbar-expand-lg navbar-light navcolor">      
      <div class = "logo">
        <%= link_to 'EllaMexicana', root_path, class: "logo" %>
      </div>
      
      <!-- Toggle Menu -->
      <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars bars"></i>
      </div>

      <!-- End Toggle Menu -->
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="categories d-flex ">
            <div class="mr-1">
            <%= link_to 'Programming', category_path(Category.first.id) %>
            </div>
            <div class="mr-1">
            <%= link_to 'Science', category_path(Category.find(2).id) %>
            </div>
            <div class="mr-1">
            <%= link_to 'Motherhood', category_path(Category.find(3).id) %>
            </div>
            <div class="mr-1">
            <%= link_to 'Art & Culture', category_path(Category.find(4).id) %>
            </div>
            <div class="mr-1">
            <%= link_to 'Health', category_path(Category.find(5).id) %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
